.login-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ff79c6;
  font-family:'Times New Roman', Times, serif;

   background: linear-gradient(-45deg, #0d0d0d, #1a1a40, #330033, #1e3c72, #2a5298);
  background-size: 400% 400%;
  animation: aurora 18s ease infinite;
  color: #fff; /* keeps text readable */
}

@keyframes aurora {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}




.brand {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #cafb2b;
  font-family: 'Poppins', sans-serif;
  text-shadow: 0 0 10px rgba(0, 191, 255, 0.7);
}

.login-box {
  background: #1c1c1c;
  padding: 2rem;
  border-radius: 1rem;
  width: 600px;
  text-align: center;
 box-shadow: 0 0 10px rgba(255, 0, 128, 0.6),
              0 0 20px rgba(255, 0, 128, 0.4),
              0 0 40px rgba(255, 0, 128, 0.3);
}

.login-box input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 0.6rem;
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 12px;

  background: #2c2c2c;
  color: #e9dc2a;
}

.login-box button {
  background: #38bdf8;
  color: black;
  border: none;
  padding: 0.6rem;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 0 20px rgba(0, 123, 255, 0.7);

}
